#
#Commit all pending changes, then run this command:
#   git rm -r --cached .
#This removes everything from the index, then just run:
#   git add .
#Commit it:
#   git commit -m ".gitignore is now working"


.metadata
bin/
tmp/
*.tar
*.gz
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*checkpoint*

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet


*.pyc
/build/
.DS_Store
.project
.settings
*.class
.classpath
/.gradle/

*.log
*.aux
*.out
*.toc

